<div class="jumbotron text-center">

    <canvas id ='gameBoard' width='700' height='600'>
      Does not support canvas
    </canvas>
  </div>

    <input type="text" id="new_game_name" placeholder="New Game Name...">
    <input type="button" id="add_game" value=" Add a New Game ">
    <div id='game_name_placeholder' align="right" style='padding-top: 10px'></div>
    <div align="right" style='padding-top: 10px'>
      <input type="button" id="join_selected_game" value="Join Game!">
    </div>
    <div id="player_color_placeholder" align="right" style='padding-top: 10px'></div>
    <div id="current_turn_color_placeholder" align="right" style='padding-top: 10px'></div>
  </div>
</div>